--extra-index-url https://download.pytorch.org/whl/cu124 # change if needed
torch
torchvision
torchaudio

sentence-transformers==3.3.1
transformers==4.47.1
langchain
langchain-community
unstructured
langchain-unstructured
langchain-chroma
langgraph
pypdf
numpy
langchain-google-genai